.landing-page-container {
  width: 100%;
}

.projects-container {
  width: 100%;
  margin: 20px auto;
  border: 1px solid blue;
}

.projects-container h1 {
  font-size: 18px;
  width: 100%;
  margin: 10px 25px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


