.accountSideBar {
  display: flex;
  flex-direction: column;
  width: 150px;
  min-height: 20%;
  background: #fff;
  border: 3px solid black;
  border-radius: 4px;
  height: 100%;
}

.accountSideBar h1 {
  font-size: 18px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 24px;
  padding: 0px 6px;
}

a {
  text-decoration: none;
  color: black;
}
